*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* sources: https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters */
/* https://codepen.io/sosuke/pen/Pjoqqp */
::-webkit-calendar-picker-indicator {
  filter: invert(81%) sepia(15%) saturate(613%) hue-rotate(339deg)
    brightness(106%) contrast(101%);
}
