<h1>Welcome to Care, <%= @user.name %>!, hope you enjoy your stay, here is a little bit more about the app</h1> <br/>
<h2>What is Care?</h2>
<p>Care is a self tracking app where a user can track his mood, symptoms, food, medications, and share insights with the community</p> <br/>
<h2>What inspired you?</h2>
<p>Making a "utility belt/self tracking" app was my dream ever since I started programming, I personally have IBD, so I want to track my mood, symptoms, medicine, etc all the time. This app allows me to do that and also share posts with the community at the same time. Before Care I used an app called "Gali Health" to track my symptoms, however Gali didn't allow me to track food, and also it was specific to IBD, whereas this app allows you to track all kinds of symptoms and share all kinds of posts.</p> <br/>
<h2>What is this RXGuide thing in the home page?</h2>
<p>RXGuide is my second ever project, it's a front-end react-app that uses an airtable back end to do full crud, I use my airtable API from RXGuide on this project to Create, read, update, and delete a medication and associate it to a user.</p> <br/>

<h3>Anyways...</h3>
<p>I appreciate you for trying out my app <%= @user.name %>, it means a-lot to me, this is a project that I'm very passionate about, if you have any questions or concerns please feel free to reach out!</p>
<p>Thanks and Regards,</p>
<p>Daniel Michael</p>
<img src="https://i.imgur.com/1QePclv.png" alt="logo" />