.content-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.foods {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 30px;
}

.food-container {
  margin: 10px;
  text-align: center;
}

.hover-container {
  cursor: pointer;
}
.food-card {
  margin: 10px;
  width: 200px;
}

.delete-button {
  margin-left: 10px;
  width: 20%;
}

.add-food {
  display: flex;
  flex-direction: column;
  height: 89px;
  margin-top: 10px;
  font-size: 10px;
}

.edit-foods {
  height: 50px;
  margin-top: 10px;
  height: 89px;
  margin-right: 10px;
}

.log-your-food {
  display: flex;
  align-content: center;
}

.options-icon {
  width: 50px;
  height: 40px;
}

.add-icon {
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.food-buttons-container {
  display: flex;
  right: 0;
  margin-left: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}
